PORT=7000
MEDIA_DIR=C:/Stremio/Malay
INBOX_DIR=C:/Telegram Downloads
PUBLIC_URL=https://your-tailscale-url.ts.net
TMDB_API_KEY=your_tmdb_key_here
BOT_TOKEN=your_telegram_bot_token
MY_CHAT_ID=your_chat_id
SIMKL_CLIENT_ID=your_simkl_client_id
SIMKL_ACCESS_TOKEN=your_simkl_token
STREMIO_AUTH_KEY=your_stremio_auth_key